@import 'mixins.scss';
.--flex-col{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.--flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.--abs-center{
  top: 0;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.--title{
  font-family: 'Hilden','serif';
  font-size: 3.5rem;
  @include respond(tablet){
    font-size: 2.25rem;
  }
  @include respond(mobile){
    font-size: 2rem;
  }
}
.--parallax-wrapper{
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}
.--parallax-background,.--parallax-background{
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}
.--parallax-background{
  transform: translateZ(-10px) scale(2);
}
.--parallax-foreground{
  transform: translateZ(-5px) scale(1.5);
}
/* ---------------------------------------------------ANIMATIONS */
.appearLeft-enter-active{
  animation: appearLeft 1s;
}
.appearLeft-leave-active{
  animation: appearLeft 1s reverse;
}
.appearRight-enter-active{
    animation: appearRight 1s;
}
.appearBottom-enter-active{
    animation: appearBottom 1s ease-out;
}
.appearBottom-leave-active{
  animation: appearBottom 1s ease-out reverse;
}
.grow-enter-active{
    animation: grow .5s ease-out;
}
.grow-leave-active{
  animation: grow .5s ease-out reverse;
}
.fade-enter-active{
  animation: fade .5s ease-out;
}
.fade-leave-active{
  animation: fade .5s ease-out reverse;
}


@keyframes appearLeft {
  0%{transform: translateX(-250px); opacity: 0;}
  100%{transform: translateX(0px); opacity: 1;}
}
@keyframes appearRight {
    0%{transform: translateX(250px); opacity: 0;}
    100%{transform: translateX(0px); opacity: 1;}
  }
@keyframes appearBottom {
  0%{transform: translateY(100%) }
  100%{transform: translateY(0px)}  
}
@keyframes grow {
  0%{transform: scale(0);}
  95%{transform: scale(1.05);}
  100%{transform: scale(1);}  
}
@keyframes fade {
  0%{opacity: 0;}
  100%{opacity: 1; } 
}
@keyframes shrink {
0%{transform: scale(2);}
  
}