@import 'mixins.scss';
.main-container{
  min-height: 100vh;
  width: 100vw;
  padding-block: 4rem;
  padding-inline: max(6rem,20%);
  @include respond(xs){
    padding-inline: 2rem;
  }
}
.circle-1{
  width: 1.25rem;
  aspect-ratio: 1/1;
  background-color: $color3;
  border-radius: 50%;
}
.divider{
  height: 1px;
  width: 100%;
  background-color: $color3;
  margin-inline: 1.25rem;
}
.--flex-col{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.--flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.--abs-center{
  top: 0;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.--text-content{
  font-size: 1.8rem;
  @include respond(sm){
    font-size: 1.5rem;
  }
}
.--title{
  font-family: 'Hilden','serif';
  font-size: 5rem;
  @include respond(sm){
    font-size: 4rem;
  }
  @include respond(xs){
    font-size: 3rem;
  }
}
.--parallax-wrapper{
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}
.--parallax-background,.--parallax-background{
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}
.--parallax-background{
  transform: translateZ(-10px) scale(2);
}
.--parallax-foreground{
  transform: translateZ(-5px) scale(1.5);
}
/* -----------------------------------------------------SHOP*/
.shop-button{
  background-color: $color1;
  border-radius: 40px;
  width: 150px;
  padding:10px;
  border: $color3 solid 3px;
  color: $color2;
  font-weight: 600;
  padding-top: 12px;
}
/* -----------------------------------------------------TEXT */
.weight-400{
  font-weight: 400;
}
.weight-600{
  font-weight: 600;
}
.weight-800{
  font-weight: 800;
}
/* ---------------------------------------------------COLORS */
.color-1{
  color: $color1 !important;
}
.color-2{
  color: $color2 !important;
}
.color-3{
  color: $color3 !important;
}
.color-4{
  color: $color4 !important;
}
.color-5{
  color: $color5 !important;
}
.background-color-1{
  background-color: $color1 !important;
}
.background-color-2{
  background-color: $color2 !important;
}
.background-color-3{
  background-color: $color3 !important;
}
.background-color-4{
  background-color: $color4 !important;
}
.background-color-5{
  background-color: $color5 !important;
}
/* ---------------------------------------------------ANIMATIONS */
.appearLeft-enter-active{
  animation: appearLeft 1s;
}
.appearLeft-leave-active{
  animation: appearLeft 1s reverse;
}
.appearRight-enter-active{
    animation: appearRight 1s;
}
.appearBottom-enter-active{
    animation: appearBottom 1s ease-out;
}
.appearBottom-leave-active{
  animation: appearBottom 1s ease-out reverse;
}
.grow-enter-active{
    animation: grow .5s ease-out;
}
.grow-leave-active{
  animation: grow .5s ease-out reverse;
}
.fade-enter-active{
  animation: fade .5s ease-out;
}
.fade-leave-active{
  animation: fade .5s ease-out reverse;
}


@keyframes appearLeft {
  0%{transform: translateX(-250px); opacity: 0;}
  100%{transform: translateX(0px); opacity: 1;}
}
@keyframes appearRight {
    0%{transform: translateX(250px); opacity: 0;}
    100%{transform: translateX(0px); opacity: 1;}
  }
@keyframes appearBottom {
  0%{transform: translateY(100%) }
  100%{transform: translateY(0px)}  
}
@keyframes grow {
  0%{transform: scale(0);}
  95%{transform: scale(1.05);}
  100%{transform: scale(1);}  
}
@keyframes fade {
  0%{opacity: 0;}
  100%{opacity: 1; } 
}
@keyframes shrink {
0%{transform: scale(2);}
  
}