
@font-face {
  font-family: "Hilden";
  src: local("Hilden"),
  url('@/assets/fonts/hilden.ttf');
}

*, *:before, *:after {
  box-sizing: border-box;
}
ul{
  list-style: none;
}
li{
  cursor: pointer;
}
body{
  margin: 0;
  background-color: $color1;
  font-family: 'Manjari', sans-serif;
}
html{

  scroll-behavior: smooth;
  overflow-x: hidden;
}
a, a:link, a:visited, a:focus, a:hover, a:active{
  text-decoration:none; 
}
h1{
  font-family: 'Allura', "cursive";
  font-size: 4rem;
  font-weight: 400;
}
h2{
  font-weight: 400;
}

